body {
    font-family: "Open Sans", 'Trebuchet MS';
    font-size: 1rem;
}

h4,
h5,
h6 {
    font-family: "Open Sans", 'Trebuchet MS';
    font-weight: 700;
}

h6 {
    font-size: .8rem;
    font-weight: bold;   
}

.d-flow-root {
    display: flow-root;
    
}

.text-filter {
    font-size: 0.7rem;
    color: #FFC300;

    &:hover {
        color: #FFF89A;
        text-decoration: none;
    }
}

// Custom Buttom styles
.btn {
    font-family: "Open Sans", 'Trebuchet MS';
    padding: 0.375rem 1rem;
    font-size: 0.8rem;
    
}

// Custom Badge styles
.badge {
    padding: 0.5rem 0.65rem;
}

// Custom Color styles
.badge-dark {
    background-color: #CC9544;
}

.details {
    h5 {
        font-family: "Open Sans", 'Trebuchet MS';
    }

    hr {
        border: .3px dashed $gray-500;
    }

    p,
    span,
    li {
        font-family: "Open Sans", 'Trebuchet MS';
        font-size: 14px;
    }

    .img-shadow {
        border-radius: 5px;
        box-shadow: rgba(102, 102, 102, 0.15) 0px 2px 15px 2px;
    }
}